<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @pedido.color %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @pedido.talla %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @pedido.modelo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @pedido.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @pedido.precio %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
